* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  /* background-color: #010024; */
}

.App {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 2% 8%;
}

@media (max-width: 1100px) {
  .App {
    padding: 2%;
  }
}
@media (max-width: 700px) {
  .App {
    grid-template-columns: 100%;
    padding: 2% 3%;
  }
  .second-section-mobile {
    display: none;
  }

  .second-section-card {
    grid-template-columns: 1fr;
  }
}
